[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 13.0

[submodule "prisehub/pmis"]
	path = prisehub/pmis
	url = git@github.com:prisehub/pmis2.git
	branch = 13.0

[submodule "prisehub/odoogob"]
	path = prisehub/odoogob
	url = git@github.com:prisehub/odoogob.git
	branch = 13.0

[submodule "OCA/project"]
	path = OCA/project
	url = git@github.com:OCA/project.git
	branch = 13.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 13.0
